@keyframes neonColorFade {
  0% {
    box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff;
  }
  25% {
    box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff;
  }
  50% {
    box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00;
  }
  75% {
    box-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 40px #ffff00;
  }
  100% {
    box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff;
  }
}

@keyframes slideDisappearReappear {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: translateX(40vw) rotate(180deg);
    opacity: 0;
  }
  50% {
    transform: translateX(-40vw) rotate(360deg);
    opacity: 0;
  }
  75% {
    transform: translateX(0) rotate(540deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(720deg);
    opacity: 1;
  }
}

@keyframes flameFlicker {
  0% {
    transform: scale(1) translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2) translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 0.8;
  }
}

.neon-input {
  box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff;
  animation: neonColorFade 0.1s infinite, slideDisappearReappear 5s infinite;
}

.neon-list {
  box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff;
  animation: neonColorFade 0.1s infinite, slideDisappearReappear 5s infinite;

}

.list-none{
  list-style-type: none;
  text-align: left;
  background-color: rgb(36, 36, 36);

}

input{
  width: 260px;
}
ul{
  position: absolute;
  padding: 4px !important;
  margin: 0px;
  width: 260px;
  max-height: 200px;
  overflow: scroll;

}
li{
  text-align: left;
  color: white;
}

.flames {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50px;
  background: radial-gradient(circle, rgba(255, 69, 0, 0.8), rgba(255, 140, 0, 0.6), rgba(255, 215, 0, 0.3));
  animation: flameFlicker 1s infinite ease-in-out;
  z-index: 10;
}

.flames-left {
  left: 0;
}

.flames-right {
  right: 0;
}